<p id="notice"><%= notice %></p>

<h1>Listing Catches</h1>

<table>
  <thead>
    <tr>
      <th>Fish type</th>
      <th>User</th>
      <th>Lat</th>
      <th>Lon</th>
      <th>Date</th>
      <th>Kept</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @catches.each do |catch| %>
      <tr>
        <td><%= catch.fish_type_id %></td>
        <td><%= catch.user_id %></td>
        <td><%= catch.lat %></td>
        <td><%= catch.lon %></td>
        <td><%= catch.date %></td>
        <td><%= catch.kept %></td>
        <td><%= link_to 'Show', catch %></td>
        <td><%= link_to 'Edit', edit_catch_path(catch) %></td>
        <td><%= link_to 'Destroy', catch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Catch', new_catch_path %>
