<h1>GOIN FISHIN!</h1>

<table>
  <tr>
    <th></th>
    <% @fish_types.each do |fish_type| %>
      <th><%= fish_type.name %></th>
    <% end %>
    <th>Points</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.nickname %></td>
    <% @fish_types.each do |fish_type| %>
      <td onClick="window.location.href = '/fishing/catch?fish_type_id=<%= fish_type.id %>&user_id=<%= user.id %>'" >
        <%= @user_catches[user.id][fish_type.id] if @user_catches[user.id] %>
      </td>
    <% end %>
    <td>
      <%= @user_catches[user.id][:points] if @user_catches[user.id] %>
    </td>
  </tr>
<% end %>

  <tr>
    <td></td>
    <% @fish_types.each do |fish_type| %>
      <td class="keepers"><%= @keepers[fish_type.id] %></td>
    <% end %>
  </tr>
</table>

<br />

<%= link_to 'Show All Catches', catches_path %>
