<!DOCTYPE html>
<html>
<head>
  <title>Fishtracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
<% flash.each do |key, value| %>
  <div class="bg-info alert alert-<%= key %>"><%= value.html_safe %></div>
<% end %>
<%= yield %>
  </div>
</body>
</html>
